{% extends 'base.html' %}
{% block content %}
  <section class="home-section">
  <div class="about-container">
    <h1>About Our Team</h1>
  </div>
  <div class="home-container">
    <div class="steps">
      <img src="../images/home-background.jpg" alt="image of team">
      <h3>Jelleny</h3>
        <p>Description</p>
    </div>
    <div class="steps">
      <img src="../images/home-background.jpg" alt="image of team">
      <h3>Jacob</h3>
        <p>Description </p>
    </div>
  </div>
</section>
{% endblock %}
