{% extends 'base.html' %}
{% block content %}
  <section class="home-section">
    <h1>What is Wayfarer?</h1>
    <p>Our vision is simple. We strive to create that ease of searching for that rare place.</br>
      We encourage our fellow travel to share tips about their favorite locations around the world.</p>
  <div class="home-container">
    <div class="steps">
      <h3>step 1</h3>
        <p>Create Your Account</p>
    </div>
    <div class="steps">
      <h3>step 2</h3>
        <p>Add A City </p>
    </div>
    <div class="steps">
      <h3>step 3</h3>
        <p>Create A Post</p>
    </div>
  </div>
</section>
{% endblock %}
