{% extends 'base.html' %}
{% block content %}
  <section class="home-section">
  <div class="home-about-container">
    <h1>What is Wayfarer?</h1>
    <p>Our vision is simple. We strive to create that ease </br>
      of searching for that rare place. We encourage our fellow </br>
      traveler to share tips about their favorite locations around the world.</p>
  </div>
  <div class="how-div">
  <h1>How It Works</h1>
  </div>
  <div class="steps-container">
    <div class="steps step1">
      <h3>step 1</h3>
        <p>Create Your Account</p>
        <p class="step-p">Click on Signup and fill out form.</p>
    </div>
    <div class="steps step2">
      <h3>step 2</h3>
        <p>Add A Post </p>
        <p class="step-p">Click add post and write a review about your favorite city.</p>
    </div>
    <div class="steps step3">
      <h3>step 3</h3>
        <p>View Travelers Reviews</p>
        <p class="step-p">Search reviews to find your next favorite city.</p>
    </div>
  </div>
</section>
{% endblock %}
