{% extends 'base.html' %}
{% block content %}

<h1>Welcome, {{ user.username }}! You are currently in {{ user.current_city }}</h1>
<p> You joined on {{ user.date_joined }}</p>

<form method="get" action="{% url 'edit' user.id %}">
    <button class="btn" type="submit">Edit Profile</button>
</form>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <table class="striped">
          <h1>Cities</h1>
          <tbody>
          {% for location in locations.all %}
            <tr>
              <td>{{location.city}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>
    </div>
  </div>
<div class="col s6">

<table class="striped">
  <tbody>
    {% for post in user.post_set.all %}
    <div class="card">
      <a href="{% url 'detail' post.id %}">
        <div class="card-content">
          <span class="card-title">{{ post.date  }}</span>
          <span class="card-title">{{ post.title  }}</span>
          <span class="card-title">{{ post.review  }}</span>
        </div>
        {% endfor %}
  </tbody>
</table>
</div>
</div>
{% endblock %}
