:root {
  --main-font-family: 'Philosopher', sans-serif;
  --submain-font-family: 'Roboto', sans-serif;
}


body {
    color: black;
    width: 100%;
    height: auto;
    background-color: #000;
    background-size: cover;
    font-family: var(--submain-font-family);
}

.section {
  width: 100%;
  height: 40vh;
  text-align: center;
}

input {
  color: #fff;
}

.site-name {
  margin-left: 50px;
  font-size: 27px;
  font-family: var(--main-font-family);
}


.nav-wrapper {
    background-color: #000;
}

.nav-links {
  font-size: 20px;
  font-family: var(--main-font-family);
}

.brand-logo {
    margin-right: 20px;
    font-family: var(--main-font-family);
}

.wf-logo {
  color: #32B692;
}

/* --------------------home page-------------------------- */
.home-container {
  display: flex;
  flex-direction: row;
  width: auto;
}

.home-section {
  width: 100%;
  height: 40vh;
  text-align: center;
}

.steps {
  width: 200px;
  height: 250px;
  -webkit-box-shadow: 0px 0px 10px 3px #32B692;
  -moz-box-shadow: 0px 0px 10px 3px #32B692;
  box-shadow: 0px 0px 10px 3px #32B692;
  flex-grow: 1;
  margin-left: 35px;
  margin-top: 25vh;
}

.steps h3 {
  font-family: var(--main-font-family);
}

h1, h3, h5, p {
  color: #fff;
  letter-spacing: 2px;
}

h1 {
  font-family: var(--main-font-family);
}

p {
  font-size: 20px;
}
