body {
    color: black;
    background: url("https://wallpaperaccess.com/full/408006.jpg") no-repeat;
    background-size: cover;
}

footer {
    bottom: 0;
    position: fixed;
    display:flex;
    justify-content: center;
    width: 100vw;
}

.card {
    background: rgba(255, 255, 255, 0.5);
}

.card:hover {
    box-shadow: 5px 2px black;
    /* margin-bottom: 10px;   */
}

a {
    color: black;
}

span.card-title {
    color: black !important;

}

.page-footer {
    background-color: rgba(59, 140, 131);
}

.nav-wrapper {
    background-color: rgba(59, 140, 131);
}

.brand-logo {
    margin-right: 20px;
}